html
	head
		style.
			canvas {
				cursor: none;
			}
		script(src = "https://cdn.firebase.com/js/client/2.1.1/firebase.js")
		script(src = "//cdn.jsdelivr.net/phaser/2.2.2/phaser.js")
		script(src = "/bananacat-cellar.js")
	body(style = "background-color: black")
