html
	head
		style.
			canvas {
				cursor: none;
			}
		script(src = "https://cdn.firebase.com/js/client/2.1.1/firebase.js")
		script(src = "//cdn.jsdelivr.net/phaser/2.2.2/phaser.js")
		script(src = "bananacat-library.js")
	body(style = "background-color: black")
		.container(style = "display:flex; justify-content: space-around; align-items: center")
			#phaser
